@import 'variables.scss';

@media all and (min-width: 1200px) and (max-width: 1400px) {

  .header_container {

    width: $xx_large;
    margin: 0 auto;

  }

  .main_section_container {

    width: $xx_large;
    margin: 0 auto;


  }
  .product_section {

    .product_section_container {

      width: $xx_large;
      margin: 0 auto;


    }


  }

  .advertising_section {

    .advertising_container {

      width: $xx_large;
      margin: 0 auto;

    }

  }

  .prefooter_section {

    .prefooter_container {

      width: $xx_large;
      margin: 0 auto;


    }

  }

  footer {

    .footer_container {

      width: $xx_large;
      margin: 0 auto;


    }
  }

}

@media all and (min-width: 992px) and (max-width: 1200px) {

  .header_container {

    width: $large;
    margin: 0 auto;

  }

  .main_section_container {

    width: $large;
    margin: 0 auto;


  }
  .product_section {

    .product_section_container {

      width: $large;
      margin: 0 auto;


      .product_section_grid_container_second {

        grid-template-columns: 1fr 1fr;
        align-items: center;
        margin-bottom: 90px;

        img {

          width: 470px;

        }
      }


      .product_section_grid_container_three {

        grid-template-columns: repeat(2, 1fr);
        row-gap: 30px;

      }


    }

  }

  .advertising_section {

    .advertising_container {

      width: $large;
      margin: 0 auto;

      .advertising_grid_container {

        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        row-gap: 30px;

        .grid_item{

          width: 235px;


        }
      }
    }


  }

  .prefooter_section {

    .prefooter_container {

      width: $large;
      margin: 0 auto;

      .prefooter_gridcontainer {


      }

      img {
        width: 100%;


      }

      .prefooter_article {


      }
    }

  }

  footer {
    .footer_wrapper {

      .footer_container {

        width: $large;
        margin: 0 auto;


      }

    }

    .footer_container_two {

      width: $large;
      margin: 0 auto;

    }

  }

}

@media all and (min-width: 768px) and (max-width: 992px){



  .header_container {

    width: $med;
    margin: 0 auto;

    .header_flex_container{

    flex-direction: column;
    align-items: flex-start;

       .header_nav_menu{
         margin-top: 10px;

         ul{

           align-items: flex-start;
           gap: 111px;

           li{
             margin: 0;


           }
         }


       }

       .header-search{

         position: absolute;
         right: 40px;


        }

    }

  }

  .main_section_container {

    width: $med;
    margin: 0 auto;



    .grid_container{

      grid-template-columns: 390px 270px;
      column-gap: 30px;

      .main_section_img{
        width: 340px;
        height: 500px;
        background-image: url("../img/paper_2.png");
        background-size: cover;
        background-repeat: no-repeat;

      }

      .main-section__btn{

        margin-bottom: 65px;


      }

    }

  }


  .product_section {

    .product_section_container {

      width: $med;
      margin: 0 auto;
      .product_section_grid_container{

        .grid_item{

          grid-template-rows: repeat(2, 1fr);
          grid-template-columns: none;

        }

      }
      .product_section_grid_container_second {

        grid-template-columns: 1fr 1fr;
        align-items: center;
        margin-bottom: 90px;

        img {

          width: 330px;
          align-self: start;

        }
      }


      .product_section_grid_container_three {

        grid-template-columns: repeat(2, 1fr);
        row-gap: 30px;

      }


    }

  }

  .advertising_section {

    .advertising_container {

      width: $med;
      margin: 0 auto;

      .advertising_grid_container {

        grid-template-columns: repeat(4, 150px);
        justify-items: center;
        column-gap: 30px;

        .grid_item{

          width: 150px;
          height: 80px;

          svg{

            width: 115px;

          }

        }
      }



    }


  }

  .prefooter_section {

    .prefooter_container {

      width: $med;
      margin: 0 auto;

      .prefooter_gridcontainer {

        .prefooter_article{

          .prefooter_article__btn{

            margin-bottom: 60px;

          }

        }


      }

      img {
        width: 100%;


      }


    }

  }

  footer {
    .footer_wrapper {

      .footer_container {

        width: $med;
        margin: 0 auto;


      }

    }

    .footer_container_two {

      width: $med;
      margin: 0 auto;

    }

  }
}