

/* colors */

$cornflower_Blue: #7875FE;
$river_Bed:#4C5866;
$gallery:#EBEBEB;
$waterloo:#85859B;
$dove_Gray:#666666;
$white:#FFFF;
$Bombay:#B5B5BD;
$silver_two:#C4C4C4;
$silver:#C0C0C0;


/* font-size */
$extraSmall:14px;
$small:18px;
$medium:20px;
$semiBig:40px;
$big:60px;


/* font-weight */
$normal:400;
$semiBold:500;

/* font - family */

$roboto:'Roboto',sans-serif;

/* container width */

$large:1290px;

